# Assignment One: Operators

In [6]:
# problem one solution
# define the principal amount, annual interest rate, and the number of years
principal = 1000
annual_interest_rate = 0.05
years = 3
# calculate the amount using the compound interest formula
amount = principal * (1 + annual_interest_rate) ** years
# print the final amount
print(f"The amount after {years} years will be: ${amount:.2f}")

The amount after 3 years will be: $1157.63

In [9]:
# problem 2 soloution
# define the time per operation in milliseconds and the number of operations
time_per_operation_ms = 8
number_of_operations = 1000000
# calculate the total time in milliseconds
total_time_ms = time_per_operation_ms * number_of_operations
# convert milliseconds to seconds 
total_time_s = total_time_ms / 1000
print(f"It will take {total_time_s} seonds to perform the task {number_of_operations} times.")

It will take 8000.0 seonds to perform the task 1000000 times.

In [10]:
# problem 3 solution 
# Define the first term and the common ratio
first_term = 2
common_ratio = 2
# calculate the 10th term
n = 10
tenth_term = first_term * (common_ratio ** (n - 1))
print(f"The 10th term in the sequence is: {tenth_term}")

The 10th term in the sequence is: 1024

In [14]:
# problem 4 soloution 
# Define the total storage required and the storage capacity of each hard drive
total_storage_required_tb = 1
storage_capacity_per_drive_tb = 2
# calcuate the number of hard drives needed
hard_drives_needed = total_storage_required_tb / storage_capacity_per_drive_tb
# round up to the neerest wholw number, in case you can't hae a fraction of a hard drive
import math
hard_drives_needed = math.ceil(hard_drives_needed)
print(f"You need {hard_drives_needed} hard drives to allocate 1 terabyte of storage.")

You need 1 hard drives to allocate 1 terabyte of storage.

# Assignment Two Operators: Iterable Object

# Lists

In [17]:
# Question 1 answer:
Numbers = [1,2,3,4,5]
Numbers.append(6)
print(Numbers)

[1, 2, 3, 4, 5, 6]

In [19]:
# Question 2 answer:
Numbers = [1,5,9,10,18,19,20,64]
print(len(Numbers))

8

In [20]:
# Question 3 answer:
# Using the remove function
fruits = ['Pineapple','Watermelon','Tangerine','Raspberry','Blueberry','Peach']
fruits.remove('Watermelon')
print(fruits)

['Pineapple', 'Tangerine', 'Raspberry', 'Blueberry', 'Peach']

In [21]:
# Question 4 answer:
# Using In function
Numbers = [100,200,300,400,500,600,700,800,999]
print(500 in Numbers)

True

In [22]:
# Question 5 answer:
NumList = [90,80,100,600,550,880,999]
print("The Smallest Element In This List is :",min(NumList))
print("The Largest Element In This List is :",max(NumList))

The Smallest Element In This List is : 80
The Largest Element In This List is : 999

In [23]:
# Question 6 answer:
Names = ['Fatima','Wisdom','Hafiz','Khalid','Goke','Lilian','Mutalib','Destiny']
Names.sort()
print(Names)

['Destiny', 'Fatima', 'Goke', 'Hafiz', 'Khalid', 'Lilian', 'Mutalib', 'Wisdom']

In [25]:
# Question 7 answer:
Names_copy = Names.copy()
print(Names_copy)

['Destiny', 'Fatima', 'Goke', 'Hafiz', 'Khalid', 'Lilian', 'Mutalib', 'Wisdom']

In [26]:
# Clearing the duplicate to create a new list without duplicate
Names_copy.clear()
print(Names_copy)

[]

In [28]:
# Question 8 answer:
# Using the reverse function
Names = ['Fatima','Wisdom','Hafiz','Khalid','Goke','Lilian','Mutalib','Destiny']
Names.reverse()
print(Names)

['Destiny', 'Mutalib', 'Lilian', 'Goke', 'Khalid', 'Hafiz', 'Wisdom', 'Fatima']

In [29]:
# Question 9 answer:
# Combine the two lists using the extend function
f = ['Sarah','Edith','Jarvis']
Names.extend(f)
print(Names)

['Destiny', 'Mutalib', 'Lilian', 'Goke', 'Khalid', 'Hafiz', 'Wisdom', 'Fatima', 'Sarah', 'Edith', 'Jarvis']

In [36]:
# Question 10 answer:
# To iterate through a list and perform specific operation for each element in python, you can use a "for" loop
my_list = [1,2,3,4,5]
for element in my_list:
    result = element * 2 
print(result)

10

# Tuples

In [37]:
# Question 1 answer:
Numbers = (60,90,680)
print(Numbers[1])

90

In [39]:
# Question 2 answer:
# You can concatenate two tuples to create a new tuple in python by using the "+" operator.
# Define two tuples
tuple1 = (1,2,3)
tuple2 = (4,5,6)
# concatenate the two tuples to create a new tuple
new_tuple = tuple1 + tuple2
# print the new tuple
print(new_tuple)

(1, 2, 3, 4, 5, 6)

In [40]:
# Question 3 answer :
# NO: ONCE A TUPLE IS CREATED, YOU CANNOT CHANGE ITS VALUES. TUPLES ARE UNCHANGEABLE

In [41]:
# Question 4 answer:
Numbers = [10,20,30,40,50,60,70,80,90,100]
print(Numbers.index(60))

5

In [42]:
# Question 5 answer:
# YES YOU CAN CONVERT A TUPLE TO A LIST IN PYTHON using the "list() function"
# create a tuple
my_tuple = (1,2,3,4,5)
# convert the tuple to a list
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [44]:
# Question 6 answer:
Numbers = [10,60,10,76,20,10,48,90,80,66,55,11,10,56,78,90,89,10,19,18,16]
print(Numbers.count(10))

5

In [48]:
# Question 7 answer:
a = ("MNNIT Allahabad", 5000, "Engineering")
(college, student, type_of_college) = a
print(college)
print(student)
print(type_of_college)

MNNIT Allahabad
5000
Engineering

In [49]:
# Question 8 answer:
mixed_tuple = (9, "Whatsup", 3.14, [6,9])
# access and print the elements
for element in mixed_tuple:
    print(element)

9
Whatsup
3.14
[6, 9]

In [50]:
# Question 9 answer: 
Numbers = [50,90,30,20,58,98,45,87,29]
print(98 in Numbers)

True

In [51]:
# Question 10 answer:
Numbers = [50,90,30,20,58,98,45,87,29]
print(len(Numbers))

9

# Dictionary

In [10]:
# Question number 1 answer
person_info = {
    "Name": "Ayomide Ade",
    "Age": 18,
    "City": "Tokyo"
}
print(person_info["City"])

Tokyo

In [11]:
# Question number 2 answer
person_info.update({'Height':6.6})
print(person_info)

{'Name': 'Ayomide Ade', 'Age': 18, 'City': 'Tokyo', 'Height': 6.6}

In [12]:
# Question number 3 answer
# You can access the value using the records.update and the value you want to access
person_info.update({'Age':20})
print(person_info)

{'Name': 'Ayomide Ade', 'Age': 20, 'City': 'Tokyo', 'Height': 6.6}

In [15]:
# Question number 4 answer
# You can iterate throught it using a "for" loop.
fruit_quantities = {
    "Apple": 5,
    "Banana": 3,
    "Orange": 2,
    "Strawberry": 9
}
for fruit, quantity in fruit_quantities.items():
    print(f'We have {quantity} {fruit}(s).')

We have 5 Apple(s).
We have 3 Banana(s).
We have 2 Orange(s).
We have 9 Strawberry(s).

In [16]:
# Question number 5 answer
# Using the "in" keyword
my_dict = {'Name': 'Alice', 'Age': 19, 'City': 'Tokyo'}
if 'Age' in my_dict:
    print("The 'Age' key exists in the dictionary.")
else:
    print("The 'Age' key does not exists in the dictionary.")

The 'Age' key exists in the dictionary.

In [17]:
# Question number 6 answer
# No, a dictionary in python cannot have duplicate keys. Each key in a dictionary must be unique. When you try to add
# a key that already exists in the dictionary, the new value associated with that key will overwrite the previous value.

In [18]:
# Question number 7 answer
# you can merge them using the update function
dict1 = {'Name': 'Alice', 'Age': 19}
dict2 = {'City': 'Tokyo', 'Gender': 'Female'}
dict1.update(dict2)
print(dict1)

{'Name': 'Alice', 'Age': 19, 'City': 'Tokyo', 'Gender': 'Female'}

In [19]:
# Question number 8 answer
# Using the pop() method
dict1.pop('Age')
print(dict1)

{'Name': 'Alice', 'City': 'Tokyo', 'Gender': 'Female'}

In [23]:
# Question number 9 answer 
# Attempting to access a key that dosent exits in a dictionary will raise a keyError
my_dict = {'Name': 'Alice', 'Age': 19,'City': 'Tokyo'}
# But we can prevent this error by using the get() method which allows you to provide a default value if the key dosent exist
gender = my_dict.get('Gender','Unknown')
print(gender)

Unknown