In [1]:
num1 = int(input('Enter First Number:'))
num2 = int(input('Enter Second Number:'))
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

Enter First Number:30
Enter Second Number:18
True
False
True
False
False
True

In [2]:
print(num1 == num2 and num1 <= num2)
print(num1 == num2 or num1 <= num2)
print(not num1)

False
False
False

In [3]:
print(num1 is num2)
print(num1 is not num2)

False
True

In [4]:
numbers = (60,90,11,18,19,17,16,22,190,680,700,52,62,98,76,10,15,88)

In [5]:
print(len(numbers))

18

In [6]:
print(type(numbers))

<class 'tuple'>

In [7]:
print(nmubers[9])

NameError: name 'nmubers' is not defined

In [8]:
print(numbers[9]) # forward selection of a value counting from 0

680

In [9]:
print(numbers[-7]) # backward selection of a value counting from -1

52

In [10]:
print(500 in numbers)

False

In [11]:
print(500 not in numbers)

True

In [12]:
print(numbers.count(14))

0

In [13]:
print(numbers.count(52))

1

In [14]:
print(numbers.index(52))

11

In [15]:
items = ['Banana','Apple','Lemon','orange']

In [16]:
items.append('Pear')
print(items) # append will add the new value at the end of the existing list

['Banana', 'Apple', 'Lemon', 'orange', 'Pear']

In [17]:
items.insert(3,'strawberry')# insert will add the new value at the specified location in the existing list
print(items)

['Banana', 'Apple', 'Lemon', 'strawberry', 'orange', 'Pear']

In [18]:
f = ['Lemon','Pear','Coconut']
items.extend(f)# extend will add all values from an existing list to our present working list
print(items)

['Banana', 'Apple', 'Lemon', 'strawberry', 'orange', 'Pear', 'Lemon', 'Pear', 'Coconut']

In [19]:
items.pop(5)# pop will remove a value on the specified index location
print(items)

['Banana', 'Apple', 'Lemon', 'strawberry', 'orange', 'Lemon', 'Pear', 'Coconut']

In [20]:
items.remove('Lemon')# remove will drop the specified value
print(items)

['Banana', 'Apple', 'strawberry', 'orange', 'Lemon', 'Pear', 'Coconut']

In [21]:
items.sort()
print(items)

['Apple', 'Banana', 'Coconut', 'Lemon', 'Pear', 'orange', 'strawberry']

In [22]:
items.reverse()
print(items)

['strawberry', 'orange', 'Pear', 'Lemon', 'Coconut', 'Banana', 'Apple']

In [23]:
items_copy = items.copy()
print(items_copy)

['strawberry', 'orange', 'Pear', 'Lemon', 'Coconut', 'Banana', 'Apple']

In [24]:
items_copy.clear()
print(items_copy)

[]

In [25]:
del(items_copy)
print(items_copy)# it is possible to have an error like the one below

NameError: name 'items_copy' is not defined